/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*variables*/
/*limit to only variables use more than once*/
/*media queries*/
/*mobile and tablet mixins for reactivity*/
@-webkit-keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 150px;
    width: 150px;
    margin-left: -60px;
    margin-top: -60px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 150px;
    width: 150px;
    margin-left: -60px;
    margin-top: -60px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 150px;
    width: 150px;
    margin-left: -60px;
    margin-top: -60px;
    opacity: 0;
  }
}
/* line 65, ../sass/screen.scss */
body {
  font-family: "Lucida Grande";
  background-color: #fff;
}

/*header*/
/* line 71, ../sass/screen.scss */
.topheader {
  background-color: #083D8C;
  color: #fff;
  padding: .5%;
  font-size: 12px;
}
@media (max-width: 600px) {
  /* line 71, ../sass/screen.scss */
  .topheader {
    display: none;
  }
}
/* line 81, ../sass/screen.scss */
.topheader .aci {
  width: 5%;
}
/* line 85, ../sass/screen.scss */
.topheader .top {
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 85, ../sass/screen.scss */
  .topheader .top {
    margin-left: -20px;
  }
}

/* line 95, ../sass/screen.scss */
.menu .menu-text {
  width: 400px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 95, ../sass/screen.scss */
  .menu .menu-text {
    width: 350px;
    margin-left: -2%;
  }
}

@media (max-width: 600px) {
  /* line 103, ../sass/screen.scss */
  .icon {
    width: 70%;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }
}

/* line 110, ../sass/screen.scss */
.icon:hover {
  -webkit-transform: scale 1.2;
  -moz-transform: scale 1.2;
  -ms-transform: scale 1.2;
  -o-transform: scale 1.2;
  transform: scale 1.2;
}

/* line 114, ../sass/screen.scss */
.white {
  background-color: white;
  color: #083D8C;
}

/* line 119, ../sass/screen.scss */
.logo {
  max-width: 40%;
  margin-left: 5%;
}
@media (max-width: 600px) {
  /* line 119, ../sass/screen.scss */
  .logo {
    max-width: 105%;
    padding: 10px;
    margin-left: -10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 119, ../sass/screen.scss */
  .logo {
    width: 100%;
  }
}

/* line 135, ../sass/screen.scss */
.dropdown.menu li.opens-right .is-dropdown-submenu {
  border-bottom: solid 4px #2FD1D1;
  background-color: #F6F6F6;
}

/* line 142, ../sass/screen.scss */
.is-dropdown-submenu-parent:hover {
  background-color: #F6F6F6;
  border-top: solid 4px #2FD1D1;
  margin-top: -8px;
}
/* line 147, ../sass/screen.scss */
.is-dropdown-submenu-parent:hover .arrow {
  display: none;
}
/* line 151, ../sass/screen.scss */
.is-dropdown-submenu-parent:hover .next {
  transform: rotate(-270deg);
  font-size: 10px;
  color: #2FD1D1;
  letter-spacing: 0.05px;
  line-height: 26px;
  display: inline-block;
}

/* line 161, ../sass/screen.scss */
.arrow {
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}

/* line 167, ../sass/screen.scss */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border: none;
  display: inline;
}

/* line 172, ../sass/screen.scss */
.gray {
  color: #616161;
}

@media (max-width: 600px) {
  /* line 176, ../sass/screen.scss */
  .title-bar-title {
    width: 300px;
  }
}

/* line 186, ../sass/screen.scss */
.title-bar, .top-bar {
  background-color: #fff;
}
/* line 189, ../sass/screen.scss */
.title-bar ul, .top-bar ul {
  background-color: #fff;
  border: none;
}
/* line 194, ../sass/screen.scss */
.title-bar .next, .top-bar .next {
  transform: rotate(180deg);
  font-size: 10px;
  color: #2FD1D1;
  letter-spacing: 0.05px;
  line-height: 26px;
  display: none;
}
/* line 203, ../sass/screen.scss */
.title-bar .menu a .menu .button, .top-bar .menu a .menu .button {
  padding-bottom: 12px;
}
@media (max-width: 600px) {
  /* line 208, ../sass/screen.scss */
  .title-bar .mobilebutton, .top-bar .mobilebutton {
    display: none;
  }
}
/* line 214, ../sass/screen.scss */
.title-bar span, .top-bar span {
  vertical-align: inherit;
}
/* line 218, ../sass/screen.scss */
.title-bar .find, .top-bar .find {
  border-radius: 4px;
  margin-left: 12%;
  font-size: 16px;
  height: 45px;
}
@media (max-width: 600px) {
  /* line 218, ../sass/screen.scss */
  .title-bar .find, .top-bar .find {
    margin-left: 0px;
    font-size: 15px;
    height: inherit;
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 218, ../sass/screen.scss */
  .title-bar .find, .top-bar .find {
    margin-left: 3%;
  }
}
/* line 238, ../sass/screen.scss */
.title-bar .marker, .top-bar .marker {
  max-width: 13px;
}
@media (max-width: 600px) {
  /* line 238, ../sass/screen.scss */
  .title-bar .marker, .top-bar .marker {
    margin-left: -6px;
  }
}
/* line 246, ../sass/screen.scss */
.title-bar .findtext, .top-bar .findtext {
  margin-left: 25px;
  margin-top: -10px;
}
@media (max-width: 600px) {
  /* line 246, ../sass/screen.scss */
  .title-bar .findtext, .top-bar .findtext {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 5px;
  }
}
@media (max-width: 600px) {
  /* line 256, ../sass/screen.scss */
  .title-bar .findtext .hidden, .top-bar .findtext .hidden {
    display: none;
  }
}

@media (max-width: 600px) {
  /* line 266, ../sass/screen.scss */
  .sublogo {
    display: none;
  }
}

/*hero div*/
/* line 274, ../sass/screen.scss */
.hero {
  background-image: url("../../images/hero-image.png");
  background-position: right;
  background-size: cover;
}
@media (max-width: 600px) {
  /* line 274, ../sass/screen.scss */
  .hero {
    padding: 10%;
    background-image: url("../../images/Hero-image-mobile.png");
    background-size: cover;
  }
}

/* line 294, ../sass/screen.scss */
.title {
  padding: 5%;
}
@media (max-width: 600px) {
  /* line 294, ../sass/screen.scss */
  .title {
    padding: 10%;
  }
}
/* line 301, ../sass/screen.scss */
.title h1 {
  font-size: 48px;
  color: #fff;
  letter-spacing: 0;
  line-height: 54px;
  text-shadow: 0 2px 10px #041A3B;
  padding-bottom: 5%;
}
@media (max-width: 600px) {
  /* line 301, ../sass/screen.scss */
  .title h1 {
    font-size: 31px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 33px;
    text-shadow: 0 2px 4px #083D8C;
    padding-bottom: 15%;
  }
}
/* line 320, ../sass/screen.scss */
.title p {
  font-size: 20px;
  color: #02C7C6;
  letter-spacing: 0;
  line-height: 12px;
  text-shadow: 0 1px 10px #041A3B;
  padding-bottom: 3%;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  /* line 320, ../sass/screen.scss */
  .title p {
    font-size: 14px;
    color: #02C7C6;
    letter-spacing: 0;
    line-height: 18px;
    padding-bottom: 10%;
  }
}
/* line 337, ../sass/screen.scss */
.title hr {
  color: white;
  width: 150px;
  border: 1px white solid;
}
/* line 343, ../sass/screen.scss */
.title .subtitle {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 12px;
  text-shadow: 0 1px 10px #041A3B;
  text-transform: none;
  padding: 1%;
}
@media (max-width: 600px) {
  /* line 343, ../sass/screen.scss */
  .title .subtitle {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 21px;
  }
}

/*main section*/
/* line 365, ../sass/screen.scss */
.main {
  padding-top: 5%;
}
/* line 369, ../sass/screen.scss */
.main .numbers {
  width: 100%;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
@media (max-width: 600px) {
  /* line 369, ../sass/screen.scss */
  .main .numbers {
    width: 100%;
    padding: none;
    margin-left: 0px;
  }
}
/* line 380, ../sass/screen.scss */
.main .firstnumber {
  margin-left: 10%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 380, ../sass/screen.scss */
  .main .firstnumber {
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  /* line 386, ../sass/screen.scss */
  .main .firstnumber .mobile {
    display: block;
    margin-left: 0px;
  }
}
/* line 394, ../sass/screen.scss */
.main .firstnumber hr {
  display: none;
}
@media (max-width: 600px) {
  /* line 394, ../sass/screen.scss */
  .main .firstnumber hr {
    display: block;
    width: 300px;
    margin-left: 5px;
  }
}
/* line 405, ../sass/screen.scss */
.main .firstnumber .large-auto, .main .firstnumber .medium-auto, .main .firstnumber .small-auto {
  max-width: 120px;
  padding-right: 20px;
  margin-left: 30px;
}
@media (max-width: 600px) {
  /* line 405, ../sass/screen.scss */
  .main .firstnumber .large-auto, .main .firstnumber .medium-auto, .main .firstnumber .small-auto {
    width: 40%;
    margin-left: -15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 405, ../sass/screen.scss */
  .main .firstnumber .large-auto, .main .firstnumber .medium-auto, .main .firstnumber .small-auto {
    margin-left: 20px;
  }
}
/* line 420, ../sass/screen.scss */
.main .firstnumber .large-2, .main .firstnumber .medium-2, .main .firstnumber .small-2 {
  max-width: 200px;
  padding-right: 160px;
}
@media (max-width: 600px) {
  /* line 420, ../sass/screen.scss */
  .main .firstnumber .large-2, .main .firstnumber .medium-2, .main .firstnumber .small-2 {
    width: 50%;
    margin-bottom: 30px;
  }
}
/* line 430, ../sass/screen.scss */
.main .firstnumber .numbertitle {
  color: #083D8C;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px;
  font-size: 18px;
  width: 200px;
  padding-right: 20%;
  padding-bottom: 10px;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
@media (max-width: 600px) {
  /* line 430, ../sass/screen.scss */
  .main .firstnumber .numbertitle {
    width: 160px;
  }
}
/* line 446, ../sass/screen.scss */
.main .firstnumber p {
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 19px;
  width: 230px;
}
@media (max-width: 600px) {
  /* line 446, ../sass/screen.scss */
  .main .firstnumber p {
    max-width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 446, ../sass/screen.scss */
  .main .firstnumber p {
    width: 200px;
  }
}

/* line 464, ../sass/screen.scss */
.numbers:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 468, ../sass/screen.scss */
.numbertitle:hover {
  -webkit-transform: translate(1em, 0);
  -moz-transform: translate(1em, 0);
  -ms-transform: translate(1em, 0);
  -o-transform: translate(1em, 0);
  transform: translate(1em, 0);
}

@media (max-width: 600px) {
  /* line 472, ../sass/screen.scss */
  .filterholder {
    background-color: #E5E5E5;
    width: 100%;
  }
}
/* line 481, ../sass/screen.scss */
.filterholder .filter {
  background-color: #E5E5E5;
  width: 70%;
  border: 2px solid #E5E5E5;
  border-radius: 2px;
  padding-top: 1%;
  margin-left: 12%;
}
@media (max-width: 600px) {
  /* line 481, ../sass/screen.scss */
  .filterholder .filter {
    max-width: 100%;
    display: block;
  }
}
/* line 494, ../sass/screen.scss */
.filterholder .filter .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
/* line 509, ../sass/screen.scss */
.filterholder .filter .option-input:hover {
  background: #9faab7;
}
/* line 513, ../sass/screen.scss */
.filterholder .filter .option-input:checked {
  background: #083D8C;
}
/* line 516, ../sass/screen.scss */
.filterholder .filter .option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
/* line 526, ../sass/screen.scss */
.filterholder .filter .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #083D8C;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
/* line 536, ../sass/screen.scss */
.filterholder .filter .option-input.radio {
  border-radius: 50%;
}
/* line 539, ../sass/screen.scss */
.filterholder .filter .option-input.radio::after {
  border-radius: 50%;
}
/* line 545, ../sass/screen.scss */
.filterholder .filter label {
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.17px;
  line-height: 24px;
  padding-bottom: 10px;
}
/* line 553, ../sass/screen.scss */
.filterholder .filter .cards {
  margin-left: 16%;
  margin-top: 10%;
}
@media (max-width: 600px) {
  /* line 553, ../sass/screen.scss */
  .filterholder .filter .cards {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 553, ../sass/screen.scss */
  .filterholder .filter .cards {
    margin-left: 8%;
  }
}
@media (max-width: 600px) {
  /* line 567, ../sass/screen.scss */
  .filterholder .filter .cards fieldset {
    width: 100%;
  }
}
/* line 577, ../sass/screen.scss */
.filterholder .dealers {
  color: black;
  font-weight: bold;
  margin-left: 15%;
}

/* line 587, ../sass/screen.scss */
div#dealer div {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
}

/*footer*/
/* line 597, ../sass/screen.scss */
.footer {
  background-color: #083D8C;
  padding: 2%;
}
@media (max-width: 600px) {
  /* line 597, ../sass/screen.scss */
  .footer {
    padding: 4%;
  }
}
/* line 605, ../sass/screen.scss */
.footer .footerlogo {
  max-width: 30%;
  margin-left: 80%;
  padding-bottom: 2%;
}
@media (max-width: 600px) {
  /* line 605, ../sass/screen.scss */
  .footer .footerlogo {
    max-width: 100%;
    margin-left: 40%;
    padding-top: 20%;
    padding-bottom: 7%;
  }
}
/* line 619, ../sass/screen.scss */
.footer .connect {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-left: 36%;
}
@media (max-width: 600px) {
  /* line 619, ../sass/screen.scss */
  .footer .connect {
    margin-left: 2px;
    font-weight: lighter;
    font-size: 14px;
    padding-bottom: 5%;
  }
}
@media (max-width: 600px) {
  /* line 633, ../sass/screen.scss */
  .footer .connect .smfirst {
    margin-left: 29%;
  }
}
/* line 641, ../sass/screen.scss */
.footer .connect .sm {
  max-width: 3%;
}
@media (max-width: 600px) {
  /* line 641, ../sass/screen.scss */
  .footer .connect .sm {
    max-width: 6%;
  }
}
/* line 648, ../sass/screen.scss */
.footer .connect .smfacebook {
  max-width: 2%;
}
@media (max-width: 600px) {
  /* line 648, ../sass/screen.scss */
  .footer .connect .smfacebook {
    max-width: 3%;
  }
}
/* line 658, ../sass/screen.scss */
.footer span + span {
  margin-left: 20px;
}

/* line 664, ../sass/screen.scss */
.copywrite {
  background-color: #216DDF;
  font-size: 16px;
  color: white;
  padding: 1%;
}
@media (max-width: 600px) {
  /* line 664, ../sass/screen.scss */
  .copywrite {
    padding: 2%;
  }
}
/* line 674, ../sass/screen.scss */
.copywrite .firstspan {
  margin-left: 33%;
}
@media (max-width: 600px) {
  /* line 674, ../sass/screen.scss */
  .copywrite .firstspan {
    margin-left: 10%;
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 674, ../sass/screen.scss */
  .copywrite .firstspan {
    margin-left: 30%;
  }
}
/* line 690, ../sass/screen.scss */
.copywrite .dealersfooter {
  display: none;
}
@media (max-width: 600px) {
  /* line 690, ../sass/screen.scss */
  .copywrite .dealersfooter {
    display: inline;
    margin-left: 15%;
    font-size: 13px;
    padding-bottom: 20px;
  }
}
